<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Goodbye example.com, <%= @user.name %></h1>
    <p>
      Tu es maintenant désabonner de example.com,
      ton prénom est <%= @user.login %>.<br>
    </p>
    <p>Merci d'avoir utilisé Freeme ! A bientôt!</p>
  </body>
</html>
