
<h1>Goodbye example.com, <%= @user.email %></h1>
<p>
  Tu es maintenant désabonner de example.com,
  ton prénom est <%= @user.firstname %>.<br>
</p>
<p>Merci d'avoir utilisé Freeme ! A bientôt!</p>

