/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wrapper-blue {
  background: #BEF2FF;
  padding: 30px 0;
}

.row {
    background-color:#FFF;
    padding-left: 20px;
  }

