/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.bullet-home {
  border: solid 1px #EE5F5B;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #EE5F5B;
  color: #FFF;
  font-weight: bold;
  margin-right: 1em;
  text-align: center;
}

.row-bg-image {
  background-size: cover !important;
  display: flex;
  height: 400px;
  background-position: right;
  background-repeat:no-repeat;
}

.row-home {
  height: 400px;
}

.flex-list li {
  display: flex;
}

.full-height {
  min-height: 100vh;
}

.card-service {

  border-radius: 3px;
  background-color: rgb(69, 170, 175);
  padding: 20px;
}

.card-service img {
  width: 180px;
  border-radius: 8px;
}

.card-service p {
  font-size: 1.3em;
  padding-top: 1em;
  color: #F3FAFB;
  padding-bottom: 2em;

}

#add-service {
  margin-top: 100px;
}
