<%= render 'shared/banner' %>
<div class="wrapper bg-blue">
  <div class="row padded-2">
    <h3 class="tx-white text-center padded-1">Services disponibles</h3>
    <ul class="list-unstyled list-inline text-center padded-2">
      <li><img src="http://placehold.it/150x50"></li>
      <li><img src="http://placehold.it/150x50"></li>
      <li><img src="http://placehold.it/150x50"></li>
    </ul>
  </div>
</div>
<div class="wrapper">
  <div class="row row-home">
    <div class="col-lg-4 col-lg-offset-2 col-xs-12">
      <h3 id="howto" class="tx-red padded-1">Comment ça marche ?</h3>
      <ul class="list-unstyled flex-list">
        <li class="padded-1"><div class="bullet-home">1</div><p>Renseignez les informations demandées</p></li>
        <li class="padded-1"><div class="bullet-home">2</div><p>Validez votre demande de désabonnement</p></li>
        <li class="padded-1"><div class="bullet-home">3</div><p>Recevez une confirmation quand le recommandé est envoyé</p></li>
        <li class="padded-1"><div class="bullet-home">4</div><p>Vous êtes libre !</p></li>
      </ul>
    </div>
    <div class="col-lg-6   hidden-md">
      <div class="row-bg-image" style="background-image: linear-gradient(-268deg, rgb(255, 255, 255) 3%, rgba(255, 255, 255, 0.31) 28%),  url('<%= image_path('bed.jpg') %>');"></div>
    </div>
  </div>
</div>
<div class="wrapper bg-red">
  <div class="row">
    <h3 class="tx-white text-center padded-2">Services disponibles</h3>
    <ul class="list-unstyled list-inline text-center padded-2">
      <li><img src="http://placehold.it/150x150"></li>
      <li><img src="http://placehold.it/150x150"></li>
      <li><img src="http://placehold.it/150x150"></li>
    </ul>
  </div>
</div>
