.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: bottom
}

.banner h1 {
  font-size: 50px;
  margin-bottom: 40px;
  color: #EE5F5B;
  font-family: 'Nunito', sans-serif;

}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  margin-bottom:70px;
}

