
// #footer {

// .container {
//   background-color: #4F7097;
//   width: 600px;
//   margin: 30px auto;
// }

// a.list-inline {
// width: 50%;
// display: flex;
// float: left;
// font-size : 30px;
// color: #1BF5AF;
// }

// span.h3 {
// margin: auto;
// border: none;
// background: none;
// color: #1BF5AF;
// padding-top: 6px;
// letter-spacing: 0.2em;
// }
// }

footer {
    background: #4F7097;
    width: 100%;
    height: 240px;

    .container {
      height: 100%;
    }

  .container.bleed {
    background: #4F7097;
  }

    .column {
      height: 50%;
      text-align: left;
    }

    .container.one-half > .column:last-of-type {
        max-width: 600px;
      }

    .column {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      float: right;

      .content {
        width: 100%;
        max-width: none;
        justify-content: center;
        margin-top: 10px;
      }
    }

    .entry-social-connect {
      justify-content: center;
    }

    .column .content {
    width: 100%;
    max-width: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
    }

    a.column {
      justify-content: flex-start;
      cursor: pointer;
      // border-top: 1px solid mix(#fafafa, black, 97.5%);

      &:hover,
      &:focus,
      &:active {
        // background-color: #BEF2FF;
        color: #1BF5AF;

        span {
          color: #1BF5AF;
        }
      }

    }

    span.h5 {
      margin: auto;
      border: none;
      background: none;
      color: #1BF5AF;
      padding-top: 12px;
      letter-spacing: 0.2em;


      a {
        font-size: inherit !important;
        color: currentColor;
      }
    }
  }

