#navbar-transparent {
  background: white;
  transition: all 0.3s ease;
  display: flex;
  height: 65px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  right: 0;

}

.navbar-wagon-button-transparent {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: rgba(27, 245, 175, 0.4);
  color: white;
  font-size: 14px;
  border: 2px solid rgba(27, 245, 175, 0.5);
}
.navbar-wagon-button-transparent:hover {
  color: white;
  background: rgba(27, 245, 175, 0.6);
  border-color: rgba(27, 245, 175, 0.6);
}
