/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.padded-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padded-5 {
  padding-top: 5em;
  padding-bottom: 5em;
}

.first-after-banner {
  margin-top: 1px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}

.bg-grey-light {
  background-color: #E8E8E8;
}

.bg-dark-blue {
  background: #3b5998;
}

.bg-red {
  background: #EE5F5B
}

.bg-blue {
  background: #30B1B7;
}

.tx-blue {
  color: #30B1B7;
}

.tx-red {
  color: #EE5F5B
}

.tx-white {
  color: #FFF
}

.tx-grey {
  color: #717171
}
