.btn-share {
  border: solid 1px #30B1B7;
  color: #30B1B7;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
  background-color: white;
  width: 115px;
  font-size: 18px;
  margin-top: 35px;
}

.btn-share:hover {
  background-color: rgba(230, 230, 230,0.2);
}

.btn-blue-neg {
  border: solid 1px #30B1B7;
  color: #30B1B7;
  padding: 9px;
  border-radius: 3px;
  text-decoration: none;
  margin-right: 30px;
  background-color: white;
}

.btn-blue-neg:hover {
  color: #30B1B7;
  text-decoration: none;
  background-color: rgba(230, 230, 230,0.2);
}

.btn-blue-neg:focus {
  color: #30B1B7;
  text-decoration: none;
  background-color: rgba(230, 230, 230,0.2);
}

.button-red {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 4px;
  line-height: 40px;
  background-color: #EE5F5B;
  color: white;
  font-size: 16px;
  border: 0px solid #1bf5af;
}

.button-red:hover {
  color: #FFF;
  text-decoration: none;
  background-color: #E04541;
}

.button-red:focus {
  color: #FFF;
  text-decoration: none;
  background-color: #E04541;
}

.button-with-icon img {
 height: 25px;
 vertical-align: middle;
}


.btn-white-neg {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 4px;
  line-height: 40px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: 1px solid #FFFFFF;
}
