.card-confirmation {
  border: solid 1px #F5F5F5;
  padding: 35px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.card-confirmation ul li {
  font-size: 0.9em;
  color: #6B6B6B;
}

.card-address-service {
  border: solid 1px #E5E5E5;
    border-radius: 4px;
    padding: 15px;
    line-height: 0.9em;
}

.card-confirmation-title {
  padding-bottom: 2em;
}

.title-show-unsub {
  padding-bottom: 10px;
}
