#logo-offer {
  width: 105px;
}

#pay {
  margin-top: 24px;
  width: 130px;
  height: 45px;
  font-size: 20px;
}

.header-red {
  background-color: #EE5F5B;
  padding: 13px;
}

.card-offer-premium {
  background: white;
  border-radius: 1%;
  box-shadow: 1px 1px 1px #EE5F5B;
  padding: 0px;
  margin-top: 25px;
  margin-bottom: 50px;
  height: 610px;
  width: 350px;
  margin: 0 auto;
}

.card-description-premium {
  padding: 30px;
}

.card-description-free p, ul  {
  color: grey;
}

.list-offer {
  margin-top: 20px;
}

.list-offer ul {
  list-style: square;
}

.red-text {
  color: #EE5F5B;
}

#card-pres-premium {
  border-bottom: solid 2px;
  padding-bottom: 15px;
}


.bg-blue-light {
  background-color: #30B1B7;
}

.bg-grey {
  background-color: rgba(166, 177, 178, 0.52);
}

.bg-blue-light p h2 {
  color: white;
}


