.wrapper-users h3 {
  color: white;
}

.card {
  background: white;
  border-radius: 2%;
  box-shadow: 3px 3px 3px #EE5F5B;
  padding: 45px;
  margin-top: 25px;
  margin-bottom: 50px;
  height: 310px;
  width: 300px;
}

.card-user-avatar {
  width: 100px;
  border-radius: 50%;
}

.card-user-name {
  color: #E04541;
  font-size: 24px;
  padding: 8px
}


