.card-market {
  padding-bottom: 3em;
}

.card-market-image {
  height: 150px;
}

.card-market-name {
  font-size: 1.3em;
  padding-bottom: 5px;
}

.card-market-description {
  color: #3E3E3E;
  padding: 10px;
  margin: 10px;
}
