.thanku-page {
  background-size: cover !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    background-position: bottom;
}

.card-thanku {
  background-color: #FFF;
  border-radius: 4px;
  margin-top: 10%;
  padding: 20px;


}

.card-thanku-message {
  padding-left:20px;
}

.share-row {
  border-top: solid 1px #D8D8D8;
  padding-top: 20px;
}
