.card-offer {
  background: white;
  border-radius: 1%;
  box-shadow: 3px 3px 3px #F5F5F5;
  padding: 45px;
  margin-top: 25px;
  margin-bottom: 50px;
  height: 600px;
  width: 500px;
  border: solid 1px #F5F5F5;
}

.bg-blue-light {
  background-color: rgba(48, 177, 183, 0.49);
}

.bg-blue-light h3 {
  color: white;
}

.bg-blue-light p {
  color: white;
}
